<!DOCTYPE html>

<html lang="ja">
<% include template/_header %>
<body>
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><%=title %></a>
    </nav>
  </header>

  <div class="container">
    <main role="main">
      <% games.forEach(function(val, key){ %>
        <% if (key % 3 === 0) { %>
          <div class="row">
        <% } %>
          <div class="col-md-6">
              <div class="card" style="width: 30rem;">
                <div class="card-header">
                  <%= val.name %>メンテ情報
                </div>
                <ul class="list-group list-group-flush info-list" id="<%= val.id %>"></ul>
              </div>
            </div>
        <% if (key % 3 === 2 || key === games.length-1) { %>
          </div>
        <% } %>
      <% }); %>
    </main>
  </div>

<% include template/_footer %>

</body>
</html>