<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
</head>
<body>
<h1><%=title %></h1>

<h3><%=info.consumer_key %></h3>

<% for (var i=0; i < results.length; i++) { %>
<p><%= results[i] %></p>
<p>--------------------------------------------------</p>
<% } %>

</body>
</html>