/* info-list styles
-------------------------------------------------- */
div.card {
   width: 20rem;
   margin: 2rem 0;
   cursor : move;
}

/*div.twitter-icon {
  text-align: right;
}*/

img.twitter-icon {
  float: right;
  width: 25px;
  height: 25px;
}

ul.info-list > li {
  font-size: 80%;
}